.wrapper{
    background-color: rgb(152, 155, 155);
    width: 100rem;
    height: 100rem;
    position: relative;
}
.flying-box{
    background-color: rgb(182, 57, 57);
    top: 50%;
    left: 50%;
    padding: 1.5rem 2rem ;
    transform: translate(-50%,-50%);
    font-size: 1.8rem;
    position: absolute;
}