*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background-color: #f4f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #container{
        width: 50%;
        min-height: 100vh;
        align-items: center;
        background: var(--bg-color);
        border: .3rem solid black;
        display: flex;
        flex-direction: column;
        gap: 1rem;
     @media only screen and (max-width: 600px){
            width: 90%;
        }
        .header{
            width: 100%;
            height: min-content;
            background-color: white;
            color: #55b8f6;
            padding: .3rem .8rem;
            // background-color: white;
            h1{
                font-size: 1.7rem;
                
            }
        }
        .title{
            height: 100%;
            width: 97%;
            background-color: #191818;
            text-align: center;
            font-size: 1.4rem;
            border-radius: .7rem;
            h1{
                color: white;
                span{
                    color: #49a6e9;
                    font-size: 1.8rem;
                }
            }
        }
        .btn{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 1rem;
            button{
                padding: .5rem .7rem ;
                background-color: transparent;
                font-weight: bold;
                font-size: 1.4rem;
                border-radius: 4px;
                border: 3px solid #181818;
                cursor: pointer;
                &.generate{
                    background-color: #1a1919;
                    color: white;
                    &:hover{
                        background-color: transparent;
                        color: #222222;
                    }
                }
                &:hover{
                    background-color: #222222;
                    color: white;
                }

            }
        }
        .colorpalet{
            width: 100%;
            height: 40vh;
            background-color: white;
            padding: .7rem;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 5px;
                
                
            }
            &::-webkit-scrollbar-track{
                background: transparent;
                border-radius: 999px;
            }
            &::-webkit-scrollbar-thumb{
                background: var(--scroll-bar-color);
                border-radius: 999px;
            }
            .color{
                font-size: 1.3rem;
                position: relative;
                width: fit-content;
                
                &::after{
                    content: "";
                    height: 40%;
                    background-color: var(--color-box-bg);
                    position: absolute;
                    left: 105%;
                    top: 47%;
                    transform: translateY(-50%);
                    aspect-ratio: 1/1;
                   
                }
            }
        }
    }
}